/.gitattributes       export-ignore
/.editorconfig        export-ignore
/.gitignore           export-ignore
/.php-version         export-ignore
/.github              export-ignore
/.wp-env.json         export-ignore
/jsconfig.json        export-ignore
/infection.json5.dist export-ignore
/phpcs.xml.dist       export-ignore
/phpstan.neon.dist    export-ignore
/phpunit.xml.dist     export-ignore
/rector.php           export-ignore
/README.md            export-ignore
/grumphp.yml          export-ignore
/tests                export-ignore
/references           export-ignore
/docs                 export-ignore
/release-please-config.json export-ignore
/.release-please-manifest.json export-ignore
